body 
	color #666
	font-family 'Josefin Sans', Arial

#enConstruccion
	margin-top 6em
	text-align center
	h4
		margin-top 3em
		color #1CB218
	h4:hover
		cursor pointer	
	h2 
		margin-top 3em
		color #CC671C
		a 
			color #CC671C
		a:hover
			color #7156FF
			text-decoration none

#esp
	h1
		color #7156FF
#eng
	h1
		color #7156FF

#marca
	float right
	margin-right 3em
#a 
	color #ddd


