body
	font-family 'Open Sans'
header 	
	background #fff
	font-size 20px
	height 80px
	position fixed
	width 100%
	text-align center
	ul
		margin 0
		list-style none

		li 
			display inline-block
			margin-left 2em
			padding 1em
			a 
				text-decoration none
				color #666
			a:hover
				cursor pointer	
				text-decoration none
		li:hover
			transition 0.5s
			border-bottom 2px solid #64F0FF
article
	padding 100px
	font-family 'Josefin Sans'
#inicio
	color #fff
	background #FF381A
	height 680px
	text-align center

	img 
		margin-top 3em
		margin-left 5em
	small 
		color #fff
	input
		padding 2px
		color #666
		font-size 24px
		border 0	
	button
		font-size 25px
		background #fa0
		border 0
	
	#formulario
		margin-top 2em


#entraenlaque
	height 680px
	ul 
		font-size 20px
	p
		font-size 20px
	div	
		float right
		display inline-block
		font-size 64px
		margin 40px 20px 0 0
#gano
	color #fff
	background #28B4E8
	height 680px
	p 
		font-size 20px
	ul
		font-size 20px
	#finalGano
		padding-top 6em
		float right
		p
			font-size 30px
			display inline-block
		figure
			color yellow
			display inline-block
			font-size 30px
			margin-left 1em
#planes
	background #dfdfdf
	height 680px
	#barraLateral
		text-align center
		ul
			font-size 24px
			list-style none
			li
				color #fff
				display inline-block
				padding 0.5em
				border-radius .2em 0 .2em 0
				margin-left 3em
				background #666
				transition 0.3s
			li:hover
				cursor pointer
				color yellow
				background #444
						
	#contenidoPlanes
		background white
		height 250px	

#hablemos
	background #2CFF8A
	height 680px

	.contacto
		figure
			display inline-block
			img
				width 150px
				height 150px
				border-radius 50%
		.informacion
			display inline-block
			margin 0 1em 0 1em
			.icon-facebook
				color #4c66a4
			.icon-twitter
				color #377eff
	.contacto2
		float right

#flechaAbajo
	margin-top 3em
	font-size 64px
#flechaAbajo:hover
	color #fa0
	cursor pointer
	margin-top 3em
	font-size 64px
footer
	background black
	color #333
	text-align center
	p 
		margin 0
