header 	
	background #fff
	font-size 20px
	height 80px
	position fixed
	width 100%
	text-align center
	ul
		margin 0
		list-style none
		li 
			display inline-block
			margin-left 2em
			padding 1em
			a 
				text-decoration none
			a:hover
				cursor pointer	
				text-decoration none
		li:hover
			transition 0.5s
			border-bottom 2px solid #64F0FF
#inicio
	text-align center
	padding 10%
	background-image url(../img/fondoInicio2.jpg)
	background-repeat no-repeat
	background-size 1400px 700px
	background-position center
	background-color #ddd
	height 680px
	h3 
		padding 3em
		background rgba(240,240,240,0.7)	
		border-radius 0.5em
#planes
	background #000
	height 680px

#contacto
	background green
	height 680px
footer
	background black
	color #333
	text-align center
	p 
		margin 0
