body
	font-family 'Open Sans'
header 	
	background #fff
	font-size 20px
	height 80px
	position fixed
	width 100%
	text-align center
	ul
		margin 0
		list-style none

		li 
			display inline-block
			margin-left 2em
			padding 1em
			a 
				text-decoration none
				color #666
			a:hover
				cursor pointer	
				text-decoration none
		li:hover
			transition 0.5s
			border-bottom 2px solid #64F0FF
article
	padding 100px
	font-family 'Josefin Sans'
#inicio
	color #fff
	background #FF381A
	height 680px
	
	text-align center
	img 
		margin-top 3em
		margin-left 5em
	small 
		color #fff
	input
		padding 2px
		color #666
		font-size 24px
		border 0	
	button
		font-size 25px
		background #fa0
		border 0
	#formulario
		margin-top 2em

#planes
	background #dfdfdf
	height 680px
#entraenlaque
	height 680px
	p
		font-size 18px
	div	
		float right
		display inline-block
		font-size 64px
		margin 40px 20px 0 0
#gano
	background #28B4E8
	height 680px
#hablemos
	background #2CFF8A
	height 680px
#flechaAbajo
	margin-top 3em
	font-size 64px
#flechaAbajo:hover
	color #fa0
	cursor pointer
	margin-top 3em
	font-size 64px
footer
	background black
	color #333
	text-align center
	p 
		margin 0
